## 成绩分析

### 数据分析本地数据版本：xscjb20190214.csv
参见《成绩从数据库取到本地》

In [2]:
import numpy as np
import pandas as pd

In [3]:
#从本地数据文件中读取成绩数据
#读取文件耗时130秒/30s

file_name='data/xscjb20190214.csv'
#df_xscjb=pd.read_csv("../data/xscjb.csv",nrows=10000)
#df_xscjb=pd.read_csv("../data/xscjb.csv",prefix='X')
df_xscjb=pd.read_csv(file_name)

d:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (4,11,13,14,18,19,20,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df_xscjb.head()

,XNM,XQM,KCH_ID,JXB_ID,XH_ID,CJ,BFZCJ,CJBZ,JD,CJXZM,...,KCXZDM,BZXX,KCH,KCMC,KCLBDM,KCGSDM,CZSJ,JSXX,JSGH,JSXM
0,2003,12,10010002,03-2004-2)-10010002--0,040103256,79,79.0,NaN,2.9,1,...,1,NaN,10010002,体育（2）,1.0,NaN,NaN,NaN,NaN,NaN
1,2003,12,04120003,03-2004-2)-04120003--,040103256,61,61.0,NaN,1.1,1,...,1,NaN,04120003,数学分析(Ⅱ),2.0,NaN,NaN,NaN,NaN,NaN
2,2003,12,04110003,03-2004-2)-04110003--,040103256,46,46.0,NaN,0.0,1,...,1,NaN,04110003,程序设计基础,1.0,NaN,NaN,NaN,NaN,NaN
3,2003,12,10006,03-2004-2)-10006--,040103256,86,86.0,NaN,3.6,1,...,3,NaN,10006,篮球技术与裁判（男子）,4.0,NaN,NaN,NaN,NaN,NaN
4,2003,12,03010002,03-2004-2)-03010002--0,040103256,65,65.0,NaN,1.5,1,...,1,NaN,03010002,大学英语（2）,1.0,NaN,NaN,NaN,NaN,NaN

### 数据基本信息

In [8]:
print(df_xscjb.shape)
#print(df_xscjb.columns)
#df_xscjb.dtypes
df_xscjb.info()    #(3813515, 45)/(3810319, 45)/(3810319, 22)

(3810319, 22)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3810319 entries, 0 to 3810318
Data columns (total 22 columns):
XNM       int64
XQM       int64
KCH_ID    object
JXB_ID    object
XH_ID     object
CJ        object
BFZCJ     float64
CJBZ      object
JD        float64
CJXZM     int64
KCBJ      int64
KCXZ      object
XF        float64
KCXZDM    object
BZXX      object
KCH       object
KCMC      object
KCLBDM    float64
KCGSDM    object
CZSJ      object
JSGH      object
JSXM      object
dtypes: float64(4), int64(4), object(14)
memory usage: 639.5+ MB

### 成绩表字段说明
字段名	字段说明	字段类型	字段长度
BFZCJ	百分制成绩	NUMBER	22
BZXX	备注信息	VARCHAR2	200
CJ	??	VARCHAR2	32
CJBZ	????	VARCHAR2	200
CJXZM	?????(?????????????????????)	VARCHAR2	4
CZSJ	操作时间	VARCHAR2	20
JD	绩点	NUMBER	22
JXB_ID	教学班ID	VARCHAR2	42
KCBJ	?????0???1???2????3????	VARCHAR2	4
KCGSDM	课程归属代码	VARCHAR2	8
KCH	课程号	VARCHAR2	20
KCH_ID	课程号ID	VARCHAR2	32
KCLBDM	课程类别代码	VARCHAR2	8
KCMC	课程名称	VARCHAR2	100
KCXZ	课程性质	VARCHAR2	50
KCXZDM	课程性质代码	VARCHAR2	8
XH_ID	学号ID	VARCHAR2	32
XNM	学年码	VARCHAR2	4
XQM	学期码	VARCHAR2	2

### 数据清洗

#### 1.删除无效数据列：※需要删除
'Unnamed: 0'/
BKBFZCJ	最高补考百分制成绩	NUMBER	22※
BKBZ	最高补考成绩备注	VARCHAR2	200※
BKCJ	最高补考成绩	VARCHAR2	32※
BKCS	补考次数	VARCHAR2	2※
BKJD	最高补考成绩绩点	NUMBER	22※
CJZT	成绩状态；1表示提交；3表示审核通过	VARCHAR2	2※
HKBFZCJ	缓考百分制成绩	NUMBER	22※
HKBZ	缓考成绩备注	VARCHAR2	200※
HKCJ	缓考成绩	VARCHAR2	32※
HKJD	缓考成绩绩点	NUMBER	22※
JMBFZCJ	加密百分制成绩	VARCHAR2	32※
JMCJ	加密成绩	VARCHAR2	32※
JMJD	加密绩点	VARCHAR2	32※
KCXZSFQR	课程性质是否确认：默认0可以处理，1不可以处理	VARCHAR2	2※
KCYWMC	课程英文名称	VARCHAR2	160※
LCJF	历次加分（多次加分用逗号隔开）	VARCHAR2	300※
LCJFCJ	历次加分后成绩（多次加分后成绩用逗号隔开）	VARCHAR2	300※
LCJFJD	历次加分后绩点（多次加分后绩点用逗号隔开）	VARCHAR2	300※
SFSCEWM	是否生成二维码（0 未生成、1 已生成）	VARCHAR2	1※
SFYJF	是否有加分0表示否，1表示是	VARCHAR2	2※
SSKCH_ID	所属课程号ID	VARCHAR2	32※
YSBFZCJ	原始百分制成绩	NUMBER	22※
YSCJ	原始成绩	VARCHAR2	32※
YSJD	原始绩点	NUMBER	22※

In [5]:
#list_drop=['BKBFZCJ','BKBZ','BKCJ','BKCS','BKJD','CJZT','HKBFZCJ','HKBZ','HKCJ','HKJD','JMBFZCJ',\
#          'JMCJ','JMJD','KCXZSFQR','KCYWMC','LCJF','LCJFCJ','LCJFJD','SFSCEWM','SFYJF','SSKCH_ID',\
#          'YSBFZCJ','YSCJ','YSJD']
#df_xscjb.drop(list_drop,axis=1, inplace=True)   #只需执行一次

In [6]:
df_xscjb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3810319 entries, 0 to 3810318
Data columns (total 22 columns):
XNM       int64
XQM       int64
KCH_ID    object
JXB_ID    object
XH_ID     object
CJ        object
BFZCJ     float64
CJBZ      object
JD        float64
CJXZM     int64
KCBJ      int64
KCXZ      object
XF        float64
KCXZDM    object
BZXX      object
KCH       object
KCMC      object
KCLBDM    float64
KCGSDM    object
CZSJ      object
JSGH      object
JSXM      object
dtypes: float64(4), int64(4), object(14)
memory usage: 639.5+ MB

In [7]:
#df_xscjb.to_csv(file_name,index=False)
#已执行后保存

#### 2.删除没有课程名称（KCMC）的成绩
原因：
1、历史数据，数据迁移时迁移不完整，课程库可能已删除（待修复）
2、后台导入数据，导入时数据不完整（已修复）

In [14]:
#index_drop=df_xscjb[df_xscjb['KCMC'].isnull()].index  #2785
#index_drop
#df_xscjb.drop(index_drop,inplace=True)  #根据索引值删除
#df_xscjb.info()   #3813515/3810730

In [7]:
#df_xscjb.to_csv(file_name,index=False)
#已执行后保存

#### 3.没有百分制成绩（BFZCJ）
原因：
1、此成绩为“缓考”、“取消”等，属于正常情况，有记录，但无BFZCJ   411条记录

In [8]:
#df_xscjb[df_xscjb['BFZCJ'].isnull()]  #411
#index_drop=df_xscjb[df_xscjb['BFZCJ'].isnull()].index
#index_drop
#df_xscjb.drop(index_drop,inplace=True)
#已执行后保存

In [11]:
#df_xscjb.info()

In [10]:
#df_xscjb.to_csv(file_name,index=False)

#### 4.增加教师信息：教师工号（JSGH）、教师姓名（JSXM）
原因：
1、后台导入成绩数据，没有包含教师信息（以后可避免，尽量不要后台导入成绩数据）
2、前台补录成绩，没有指定具体教师（属于正常情况）

##### 4.1引入教师基本数据：jsjbxxb20190214.csv

In [16]:
#df_jsjbxxb=pd.read_csv('data/jsjbxxb20190214.csv',usecols=['JGH_ID','JGH','XM'])
#df_jsjbxxb.head()

In [15]:
#df_jsjbxxb.info()

##### 4.2 将教师JGH和XM加入成绩表数据

In [38]:
#result=pd.merge(df_xscjb,df_jsjbxxb,on='JGH_ID')
#result.head()

##### 4.3 没有教师信息的成绩

In [13]:
#df_xscjb[df_xscjb.JSXX.isnull()]
#len(df_xscjb[df_xscjb.JSXX.isnull()])  #1309889

1309889

##### 4.3.1 保存没有教师信息的成绩到本地cjb_noteacher.csv

In [13]:
#df_cjb_no_teacher=df_xscjb[df_xscjb.JSXX.isnull()]
#df_cjb_no_teacher.head()

In [19]:
#df_cjb_no_teacher.to_csv('data/cjb_noteacher.csv',index=False)
#已保存

##### 6. 课程教师信息处理 JSXX
原因：
1、成绩库只有JSXX字段，是一个合并字段，需拆分（已完成）

In [12]:
#df_xscjb['JSXX'].tail()    #200000009/朱敏卓/无

In [13]:
#df_xscjb_jsxx=df_xscjb['JSXX'].str.split(pat='/',n=2,expand=True)

In [11]:
#df_xscjb_jsxx.rename(columns={0:'JSGH',1:'JSXM',2:'NOMANE'},inplace=True)
#df_xscjb_jsxx.columns
#d:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: 
#Pandas doesn't allow columns to be created via a new attribute name - 
#see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
#df_xscjb_jsxx.cloumns=['JSGH','JSXM','NOMANE']

#df_xscjb_jsxx.tail()

In [26]:
#删除NOMANE列
#df_xscjb_jsxx.drop(['NOMANE'],axis=1,inplace=True)

In [10]:
#df_xscjb_jsxx.tail()

In [31]:
#根据索引index，合并到成绩库
#df_xscjb=df_xscjb.join(df_xscjb_jsxx)

In [9]:
#df_xscjb.tail()

In [ ]:
#删除JSXX
#list_drop=['JSXX']
#df_xscjb.drop(list_drop,axis=1, inplace=True)   #只需执行一次

In [36]:
#df_xscjb[df_xscjb.JSGH=='200300056']   #速度较慢

In [37]:
#df_xscjb.iloc[3810317]   #速度快

In [39]:
#df_xscjb.to_csv(file_name,index=False)
#已保存修改

### 保存数据文件
在使用DataFrame的to_csv保存文件的时候，会默认使用逗号作为分隔符，如果没有设置行列索引，也没有禁用行列索引保存的话，保存文件的时候，会默认加上由0开始的行列索引。

In [19]:
#df_xscjb.to_csv(file_name,index=False)